# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
/build/

# VSCode
/.vscode/

# macOS
.DS_Store

# ViennaRNA
/ViennaRNA/
/ViennaRNA-2.7.0/
/ViennaRNA-2.7.1/
/ViennaRNA-2.7.2/
*.ps
/ThermoRNA/

# External tools
/HFold/

# Mac Xcode
*.trace

# Cache files
*.bin

# Virtual environment
/venv/
/.venv/

# Python cache
__pycache__/
*.pyc

# Test output
/Testing/